
@charset "utf-8";

body{
    background: #FCD5F8;
}

#hd-cabecera{
    background-color:  #FFFF;
    color:#0000;
    height: 150px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    border-radius: 8px;
    text-align: center;

}

#hd-cabecera h1{
    padding-top: 20px;
    color: #616460;
    font:  bold 50px Arial, Helvetica, sans-serif;
    
}


#hd-cabecera a{
    text-decoration: none;
}

h3{
    color: #030801;
    font: 30px arial;
    align-self: center;
}
#nav-navegacion{
    list-style: none;
    background:  #FFFF;
    padding: 0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}

#nav-navegacion li a{
    text-decoration: none;  
    font-size: 20px;
    color: #0d0e0d;
    padding: 20px;
    display: block;
    border-radius: 30px;
    font-family:Arial, Helvetica, sans-serif ;
}


#nav-navegacion li{
    display: inline-block;
    text-align: center;
    background-color: #FFFF;
}

#nav-navegacion li a:hover{
    background: #cc99c8;
    color: #2b1396;
    border-radius: 5px;
}


#section-contenido{
    max-width: 90%;
    margin: auto;
    background-color: #f2f4f8;
    min-height: 600px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #080808;
}

#article-1{
    color: #030801;
    padding: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#article-2{
    color: #030801;
    padding: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#article-3{
    color: #030801;
    padding: 30px;
    font-size: 20px;
}


#article-4{
    color: #030801;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    opacity: 0.8;
    
}

#article-5{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: #030801;
}

#li-projects{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #030801;
}

table{
    margin-top: 30px;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #0c0c0c;
    background-color: #c0c0dd;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo-tabla{
    color: #030a01;
    font-weight: bold;
}

#img-foto{
    float: left;
    
}

#footer-redes{
    background-color: #FFFF;
    color: #010702;
    clear: both;
    margin-top: 40px;
    height: 160px;
    border: 30px;
    margin: auto;
    max-width: 90%;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


#section-img img{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-right: 10px;
    padding-right: 10px;
}



#form-contacto{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    width: 90%;
    margin: auto;
}

#form-contacto input{
    
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}
#form-contacto textarea{
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}

#btn-input{
    width: 30%;
    font-weight: bold;
    background-color: #b883be;
    height: 40px;
}


#des-personal{
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
#section-gif img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

#img-gif{
    float: left;
    
}

#int-personal{
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
